<div class=" header right clearfix">
  <% if current_user %>
    <div class="col-md-7 col-md-offset-1">
      <ul class="nav nav-pills">
        <li role="presentation" class="active"><%= link_to("Home", categories_path)%></li>
        <li role="presentation" class="active"><%= link_to("Income", incomes_path)%></li>
        <li role="presentation" class="active"><%= link_to("Costs", costs_path)%></li>
      </ul>
    </div>
    <div class="col-md-3">
      <ul class="nav nav-pills">
        <li>
          <%= link_to 'English', change_locale_path(:en) %>
        </li>
        <li>
          <%= link_to 'Italian', change_locale_path(:it) %>
        </li>

        <li><%= link_to(raw('<i class="dropdown-icon fa fa-power-off"></i>&nbsp;&nbsp;Log Out'), destroy_user_session_path, :method => :delete) %></li>
      </ul>  
    </div>
  <% else -%>
    <div class="col-md-3" style="float:right">
      <ul class="nav navbar-nav pull-right right-navbar-nav">
          <li><%= link_to(raw('<i class="fa fa-sign-in"></i>&nbsp;&nbsp;Login'), new_user_session_path) %></li>    
      </ul>       
    </div>
  <% end -%>
 <!-- / .navbar-nav -->
</div> <!-- / .right -->