<div class="row col-md-8 col-md-offset-2">
  <%- model_class = Cost -%>
  <div class="page-header">
    <h3><%=t '.title', :default => [:'helpers.titles.edit', 'Edit %{model}'], :model => model_class.model_name.human.titleize %></h3>
  </div>
  <%= render :partial => 'form' %>
</div>
