<div class="row col-md-8 col-md-offset-2">
  <% if current_user.categories.count  == 0 %>
      <div class="alert alert-warning fade in">You don't have any Category, Please create category  <%= link_to("create category", new_category_path)%></div>
  <% else %>
      <%- model_class = Income -%>
      <div class="page-header">
        <h3><%=t '.title', :default => [:'helpers.titles.new', 'New %{model}'], :model => model_class.model_name.human.titleize %></h3>
      </div>
      <%= render :partial => 'form' %>
  <% end -%>
</div>
