// Place all the styles related to the categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com./
html, body {
  height: 100%
}

.header {
  background-color: #428BCA;
  height: 50px;
  width: 100%;

  ul li {
    a {
      height: 100%;
      font-size: 17px;
      color: white;
      line-height: 30px;
      border-radius: initial !important;
      transition: color 0.2s;

      &:visited {
        background-color: transparent !important;
      }

      &:hover {
        color: #ffff00 !important;
        background-color: transparent !important;
      }
    }
  }
}

.alert {
  margin-top: 20px;
}

header {
}

#holder {
  min-height: 100%;
  position: relative;
}

#body {
  padding-bottom: 100px;
}

#footer {
  background-color: #EFEFEF;
  text-align: center;
  border-top: 1px solid #EFEFEF;
  padding-top: 20px;
  bottom: 0;
  height: 60px;
  left: 0;
  position: absolute;
  right: 0;
}
