<%- model_class = Category -%>
<div class="page-header">
  <h3><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h3>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th>Total Income </th>
      <th>Total costs</th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @categories.each do |category| %>
      <tr class="<%=  category.costs.map { |cost| cost.amount }.reduce(0, :+) > category.incomes.map { |income| income.amount }.reduce(0, :+) ? 'alert alert-danger' : '' %>">
        
        <td><%= link_to category.id, category_path(category) %></td>
        <td><%= category.name %></td>
        <td><%= category.description %></td>
        <td><%= number_to_currency(category.incomes.map(&:amount).reduce(:+), format:'%u %n') %></td>
        <td><%= number_to_currency(category.costs.map(&:amount).reduce(:+), format: '%u %n') %></td>
        <td><%=l category.created_at %></td>
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")), category_path(category), :class => 'btn btn-primary btn-xs'%>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_category_path(category), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      category_path(category),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_category_path,
            :class => 'btn btn-primary' %>
