<!DOCTYPE html>
<html>
<head>
  <title>Wallet</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
<div id="holder">
  <div id="header"><%= render partial: 'shared/header' %></div>
  <div id="body">
    <div id="content-wrapper">
      <%= flash_messages %>
      <% if params[:controller].to_s.include?('devise') %>
          <div class="container">
            <div class="row">
              <div class="col-md-6 col-md-offset-3" style="margin-top: 50px;">
                <%= yield %>
              </div>
            </div>
          </div>

      <% else %>
          <div class="container js--ct-body">
            <div class="row">
              <%= yield %>

            </div>
          </div>
      <% end %>
    </div>
  </div> <!-- / #content-wrapper -->

  <div id="footer">Copyright @ Abhishek Darak</div>
</div>
</body>
</html>
